/* header area style start */
html, body{
    font-family: sans-serif;
    font-family: 'Roboto', sans-serif;
}
.header-area {
    background-image: url(assets/img/bg3.jpg);
    background-color: #ddd;
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: 111;
}
.header-area:before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    opacity: 0.7;
    z-index: -1;
}
.logo img {
    width: 50%;
    padding-top: 5px;
}
ul.main-menu {
    padding: 5px 0px;
    margin-left: -100px;
}

ul.main-menu li {
    list-style: none;
    display: inline-block;
}

ul.main-menu li a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    padding-top: 26px;
    font-size: 18px;
    margin-left: 20px;
    transition: .3s;
}
ul.main-menu li:nth-child(1) a {
    color: #00BCD4;
    border-bottom: 1px solid;
}

ul.main-menu li a:hover {
    color: #00BCD4;
}
.stecky-header {
    position: relative;
    z-index: 11;
}

.is-sticky .stecky-header:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: .8;
}
.header-contect-area {
    color: #fff;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translate(0%,-27%);
}

.header-contect-area h3 {font-size: 20px;}
i.fas.fa-mobile-alt {
    margin-right: 10px;
}
.headear-content {
    color: #fff;
    position: absolute;
    bottom: -170px;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    z-index: 1;
}
.headear-content h1 {
    font-size: 80px;
    font-weight: 900;
    font-family: serif;
}

.color {
    color: #00BCD4;
}
.call-us-area {
    border: 1px solid #00BCD4;
    width: 100%;
    padding: 15px 0px;
    margin: 35px 0px;
}

.call-us-area span {margin-right: 17px;color: #00BCD4;}
.social-icons a {
    color: #fff;
    display: inline-block;
    font-size: 15px;
    margin-left: 10px;
    width: 35px;
    height: 35px;
    border: 1px solid;
    line-height: 2.3;
    border-radius: 50%;
    transition: .3s;
}

.social-icons a:hover {
    color: #00BCD4;
}
a.header-btn {
    color: #00BCD4;
    display: inline-block;
    margin-top: 40px;
    border: 1px solid;
    border-radius: 5px;
    width: 150px;
    padding: 10px;
    transition: .3s;
}
a.header-btn:hover{
    background: #fff;
    text-decoration:none
}

.section-padding {
    padding: 50px 0px;
}
/* header area style end */
/* about area style start */
.about-title {
    text-align: center;
    margin-bottom: 50px;
}

.about-title p.line1 {
    width: 200px;
    height: 2px;
    background: #00BCD4;
    margin: auto;
}

.about-title p.line2 {
    height: 2px;
    width: 150px;
    background: #222;
    margin: 15px auto;
}

.about-img img {
    width: 100%;
    height: auto;
    transition: .3s;
}
.about-img img:hover {
    box-shadow: 0px 0px 30px #DDDDDD;
}
.signeture img {
    width: 90px;
    margin-bottom: 15px;
}
.about-icons a {
    background: #000;
    text-align: center;
}

/* about area style end */
/* skill area style start */
.bg-1 {
    background-image: url(assets/img/bg.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-bottom: 50px;
    position: relative;
    z-index: -1;
}
.bg-1:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    left: 0;
    opacity: .7;
    z-index: -1;
}
.skill-title {
    margin: 0;
    color: #fff;
}

.experience-area h2 {
    font-size: 22px;
    margin-bottom: 50px;
    background: #00BCD4;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
}

.experience-area h3 {
    color: #fff;
    margin: 0;
}

.experience-area h5 {
    color: #00BCD4;
    padding: 5px 0px;
}

.experience-area p {
    color: #fff;
}

.experience-area {
    border-bottom: 1px solid #fff;
}
.experience-area:last-child {
    border-bottom: none;
    margin-top: 30px;
}
.experience-area2 h2{
    font-size: 22px;
    margin-bottom: 50px;
    background: #00BCD4;
    display: inline-block;
    padding: 5px 15px;
    color: #fff;
}

.barfiller {
    height: 5px;
    border-radius: 5px;
    border: none;
}
.barfiller .tip {
    margin-top:-30px;
    padding:2px 4px;
    font-size:14px;
    color:#fff;
    left:0px;
    position:absolute;
    z-index:2;
} 
.single-progress-bar h4 {
    color: #fff;
}
/* skill area style end */
/* Service area style start */

.our-services {
    background: #2C2E3D;
}

.service-title {
    color: #fff;
}
.single-service-box {
    position: relative;
    padding: 20px;
    text-align: center;
    color: #fff;
    overflow: hidden;
    z-index: 11

}

.single-service-box i {
    font-size: 35px;
    color: #000;
    width: 80px;
    line-height: 2.2;
    height: 80px;
    background: #fff;
    border-radius: 50%;
}

.single-service-box h4 {
    margin: 20px 0px;
    font-size: 21px;
    transition: .3s;
}
.single-service-box h4:hover{
    color:#00BCD4;
}
.single-service-box p {
    font-size: 14px;
    line-height: 25px;
}
.single-service-box:hover:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    right: 0;
    background: #000;
    opacity: .2;
    z-index: -1;


}
/* service area style end */
/* counter area style start */
.happy-clients {
    background-image: url(assets/img/counter.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.client-content {
    color: #fff;
}

#wow-color {
    color: #a289e8;
}

i.far.fa-clock {
    color: #AAD477;
}
i.fas.fa-coffee {
    color: #78D5B6;
}

i.fas.fa-users {
    color: #83BCE9;
}


.client-content i {
    margin-bottom: 30px;
}

.client-content h5 {
    font-size: 40px;
    font-weight: 300;
}
.client-content h6 {
    font-size: 25px;
    font-weight: 300;
    margin-top: 20px;
}
.client-content i {
    font-size: 35px;
    width: 140px;
    height: 140px;
    border: 3px solid;
    line-height: 3.8;
    border-radius: 50%;
    position: relative;
    transition: .3s;
    z-index: 1;
}

.client-content i:hover:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background: #000;
    top: 0;
    right: 0;
    border-radius: 50%;
    opacity: .7;
    z-index: -1;
}

.client-content i:hover {
    border: 3px solid #222 !important;
}
/* counter area style end */
/* our team area style start */
.our-team {background: #222;}
.single-team-box {
    text-align: center;
    color: #fff;
}

.single-team-box img {
    border-radius: 50%;
    width: 140px;
    height: 140px;
    padding: 5px;
    border: 3px solid #00BCD4;
    transition: .3s;
}
.single-team-box h4 {
    margin-top: 30px;
}

.single-team-box span {
    color: #00BCD4;
}

.single-team-box img:hover {
    background: #00BCD4;
}
.team-icons {
    text-align: center;
}
/* our team area style end */
/* testimonila area style end */
.testtimonial-title {
    color: #fff;
}
.slider-item {
    position: relative;
}

.owl-nav button {
    position: absolute;
}

.owl-next {
    font-size: 40px !important;
    top: 50%;
    right: 20px;
    width: 40px;
    border-radius: 50%;
    height: 40px;
    color: #fff !important;
    text-align: center;
    border: 1px solid #fff !important;
    line-height: 0.6 !important;
    transform: translate(-50%, -50%);
    }

.owl-prev {
    font-size: 40px !important;
    top: 50%;
    left: 20px;
    width: 40px;
    color: #fff !important;
    border-radius: 50%;
    height: 40px;
    text-align: center;
    border: 1px solid #fff !important;
    line-height: 0.6 !important;
    transform: translate(-50%, -50%);
}
.user-img img {
    width: 14% !important;
    margin: auto;
    border-radius: 50%;
    margin-bottom: 30px;
}

.testimonial-content h4 {
    color: #fff;
}

.testimonial-content h4 span {
    font-size: 15px;
    color: #ddd;
}

.testimonial-content p {
    font-size: 36px;
    color: #fff;
    font-weight: 300;
}
.client-area {
    background-image: url(assets/img/client.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
.testimonial-content i {
    color: #00BCD4;
    font-size: 60px;
}
/* testimonial area style end */
/* Portfolio area style start */
.portfolio-title {
    color: #222;
}

ul.filter-menu {
    margin: 0;
    padding-bottom: 20px;
    list-style: none;
    text-align: center;
}

ul.filter-menu li {
    display: inline-block;
}

ul.filter-menu li a {
    display: block;
    transition: .3s;
    color: #222;
    padding: 10px;
    font-weight: 700;
}

ul.filter-menu li a:hover {
    text-decoration: none;
    color: #00BCD4;
}
.bg-7{background-image: url('assets/img/p1.jpg')}
.bg-2{background-image: url('assets/img/p2.jpg')}
.bg-3{background-image: url('assets/img/p3.jpg')}
.bg-4{background-image: url('assets/img/p4.jpg')}
.bg-5{background-image: url('assets/img/p5.jpg')}
.bg-6{background-image: url('assets/img/p6.jpg')}
.single-portfolio-box {
    height: 280px;
    background-size: cover;
    background-position: center;
    margin-top: 25px;
    color: #fff;
    position: relative;
}

.project-hover {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: 2;
    opacity: 0;
    transition: .2s;
}

.project-hover:after {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: #000;
    z-index: -1;
    opacity: .5;
}



.project-hover h5 {
    position: absolute;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%, -50%);
}

.project-hover i {
    position: absolute;
    bottom: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.project-hover:hover {
    opacity: 1;
}
/* portfolio area style end */
/* hire  area style start */
.hire-area {
    background-image: url(assets/img/circle.png);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.hire-area {
    position: relative;
    z-index: 2;
}

.hire-area:after {
    position: absolute;
    width: 100%;
    height: 100%;
    content: '';
    top: 0;
    left: 0;
    background: #000;
    opacity: .7;
    z-index: -1;
}

.hire-content {
    color: #fff;
}

.hire-content h2 {
    font-size: 25px;
    margin-bottom: 25px;
}

.hire-content p {
    font-size: 18px;
}

.hire-btn {
    display: inline-block;
    background: #04b1cd;
    color: #fff;
    padding: 5px 15px;
    transition: .3s;
}

.hire-btn:hover {
    background: #00BCD4;
    color: #fff;
    text-decoration: none;
}
/* hire area style end */
/* contact area style start */
.contact-form {
    box-shadow: 0px 0px 10px #c3c3c3;
    padding: 20px;
}

.contact-form textarea {height: 200px;width: 96%;margin-left: 2%;}

.contact-form input[type='button'] {
    margin-left: 2%;
    border: none;
    background: #00bcd4;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
}
.contact-content h5 {
    font-size: 15px;
    margin-top: 10px;
}

.contact-content p {
    font-size: 12px;
    color: #7b7b7b;
}

.contact-content i {
    color: #00bcd4;
    font-size: 20px;
}

.contact-content {
    margin-bottom: 25px;
}
.contact-content h5 {
    font-size: 15px;
    margin-top: 10px;
}

.contact-content p {
    font-size: 12px;
    color: #7b7b7b;
}

.contact-content i {
    color: #00bcd4;
    font-size: 20px;
}

.contact-content {
    margin-bottom: 25px;
    margin-top: 20%;
}
/* contact area style end  */
/* footer area style start */
.footer-area {
    background: #222;
    color: #fff;
    padding-top: 30px;
    padding-bottom: 10px;
}
.footer-area a {
    color: #fff;
}
button.material-scrolltop.reveal {
    color: #fff;
    z-index: 2;
}
.color1 {
    color: #00BCD4;
}
/* footer area style end */